
body{
  background-color: #155798;
  margin: 0;
  padding: 0;
  font-family: "Arial" , serif;
}
div{
  background-color: #155798;
}
a{
  text-decoration: none;
}

section{
  border: 1px solid #FFF;
  width: 100%;
}

.imagenredonda{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border:3px solid #FFF;
  margin-top: -75px;

}

.banner{
    width: 100%;
    display: block;
}

.banner > .banner-img{
    width: 100%;
    display: block;
}

.info-centrada{
  color: white;
}

.logo {
  margin-bottom: 1em;
  margin-right: 1em;
}

div > img{
  margin-right: 1em;
}
