
*{
  background-color: #155798;
  margin: 0;
  padding: 0;
}

header{
  width: 842px;
  height: 396px;
  background: url(banner.png);
}

.imagenredonda{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border-color: white;
  border-width: 10px;
}
