
body{
  background-color: #155798;
  margin: 0;
  padding: 0;
  font-family: "Arial" , serif;
}

.imagenredonda{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border-color: white;
  border-width: 50px;

}

.banner{
    width: 100%;
    display: block;
}

.banner > .banner-img{
    width: 100%;
    display: block;
}
